<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">Create blog</a>
<h1>Blogs</h1>
<form>
    Sreach by title:
    <input type="text" name="s">
    <input type="submit" th:value="Sreach">
</form>
<table th:border="1">
    <tr>
        <th>Title</th>
        <th>Content</th>
    </tr>
    <th:block th:each="blog:${blogs}">
        <tr>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.content}"></td>
            <td th:text="${blog.category.getName()}"></td>
            <td><a th:href="@{/edit-blog/__${blog.id}__}">Edit</a></td>
            <td><a th:href="@{/delete-blog/__${blog.id}__}">Delete</a></td>
        </tr>

    </th:block>
    <div>
        <a th:href="@{'/listBlogs'(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}">Previous</a>
        <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
        <a th:href="@{'/listBlogs'(page=${blogs.number + 1})}" th:if="${blogs.hasNext()}">Next</a>
    </div>
</table>
</body>
</html>