<div class="row justify-content-between">
  <h2>Danh Sách Nhân Viên</h2>
  <div class="d-flex">
    <input type="text" class="form-control mr-3" style="width: 400px;" placeholder="Tìm Kiếm Theo Tên" [(ngModel)]="term">
    <button class="btn btn-success">Search</button>
  </div>
</div>


<div class="row mt-3">
  <button class="btn btn-success" [routerLink]="['/employee-add']">Thêm Mới</button>
  <table class="table mt-3 table-striped" style="font-size: 12px;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Họ và Tên</th>
        <th>Vị Trí</th>
        <th>Trình Độ</th>
        <th>Bộ Phận</th>
        <th>Ngày Sinh</th>
        <th>Số CMND</th>
        <th>Lương</th>
        <th>SĐT</th>
        <th>Email</th>
        <th>Địa Chỉ</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let employee of employees |filter:term | paginate: { itemsPerPage: 2, currentPage: p }">
        <td>{{employee.id}}</td>
        <td>{{employee.fullName}}</td>
        <td>{{employee.position}}</td>
        <td>{{employee.academicLevel}}</td>
        <td>{{employee.part}}</td>
        <td>{{employee.dateOfBirth}}</td>
        <td>{{employee.indentityNumber}}</td>
        <td>{{employee.salary}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.phoneNumber}}</td>
        <td>{{employee.address}}</td>
        
        <td style="width: 10%;">
          <button class="btn btn-warning btn-sm mr-2">Sửa</button>
          <button class="btn btn-danger btn-sm">Xóa</button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>





