<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DeleteCustomer</title>
</head>
<body>
<h1>Delete Customer</h1>
<h2>Chắc Chưa?</h2>
<a href="/customer/list">Customer List</a>

<form th:action="@{/customer/delete}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Full Name:</td>
            <td th:text="*{fullName}"></td>
        </tr>
        <tr>
            <td>Birth Day:</td>
            <td th:text="*{birthDay}"></td>
        </tr>
        <tr>
            <td>Id Card:</td>
            <td th:text="*{idCard}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete customer"></td>
        </tr>
    </table>

</form>
</body>
</html>